.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--dark);
  width: 100%;
  padding: 50px;
}

.navbar-item {
  flex-basis: 20%;
  list-style-type: none;
  text-align: center;
  color: var(--offWhite);
  justify-content: center;
  align-items: center;
  outline: 0
  
}

.navbar-link {
  text-decoration: none;
  font-family:  Trattatello, fantasy;
  letter-spacing: 1px;
  font-size: x-large;
  outline: 0
}

.navbar-logout {
  margin-left: auto;
}

.navbar-link:hover {
  color: var(--primary);
}

.navbar-container {
  justify-items: center;
}